{% extends 'main/base.html' %}

{% block title%} Sign Up {% endblock %}

{% block content %}
{% load crispy_forms_tags %} 
{{request.path}}
<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card p-4">
                <h3 class="card-title text-center mb-4">Sign Up</h3>
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="text-center mt-3">
                        <button type="submit" class="btn btn-primary">Register</button>
                    </div>
                </form>
                <p class="text-center mt-3">Do you already have an account? Sign-in <a href="/login">Here</a>!</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

